language: generic
sudo: required
servives:
  - docker

before-install:
  - docker build -t sukantadey/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true sukantadey/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-1-289693681788"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
